apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-{{ .Values.color }}-ingress
  annotations:
    kubernetes.io/ingress.class: traefik
    ingress.kubernetes.io/ssl-redirect: "false"
    ingress.kubernetes.io/rewrite-target: "/"
spec:
  rules:
    - http:
        paths:
          - path: /{{ .Values.color }}
            pathType: Exact
            backend:
              service:
                name: my-{{ .Values.color }}-service
                port: 
                  number: 80
