apiVersion: apps.kubermatic.k8c.io/v1
kind: ApplicationDefinition
metadata:
  name: ingress-nginx
spec:
  description: Ingress controller for Kubernetes using NGINX as a reverse proxy and load balancer.
  documentationURL: https://kubernetes.github.io/ingress-nginx/
  sourceURL: https://github.com/kubernetes/ingress-nginx
  method: helm
  versions:
    - template:
        source:
          helm:
            chartName: ingress-nginx
            chartVersion: 4.9.1
            url: https://kubernetes.github.io/ingress-nginx
      version: 1.9.6
  defaultValues:
    controller:
      replicaCount: 3



